<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{% block page_title %}Sketch A Wish{% endblock page_title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'saw/style.css' %}">
</head>
<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% block page_header %}
    {% if user.is_authenticated %}
        <a href="{% url 'profile' %}">Profile</a>
        <br />
        <a href="{% url 'logout' %}">Log Out</a>
        <br />
    {% endif %}
{% endblock page_header %}

{% block page_body %}
    We get your wishes fulfilled
{% endblock page_body %}

</body>
</html>
