{% extends "saw/base.html" %}
{% block page_body %}
    <h2>Register</h2>
        <form id="user_form" method="post" action="{% url 'get_started' %}">
            {% csrf_token %}

            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <input type="submit" name="submit_register" value="Register" />
        </form>

    <h1>OR</h1>

    <h2>Login</h2>
    <form id="login_form" method="post" action="{% url 'get_started' %}">
        {% csrf_token %}
        Username: <input type="text" name="username" value="" size="50" />
        <br />
        Password: <input type="password" name="password" value="" size="50" />
        <br />
        <input type="submit" name="submit_login" value="submit" />
    </form>
{% endblock page_body %}
