<!DOCTYPE html>
<html>
<head>
    <title>Sketch A Wish</title>
</head>
<body>
    <h1>Register</h1>
    {% if registered %}
        <strong>Thank You for registering!</strong>
        <a href="/sketchawish/">Return to the homepage</a>
    {% else %}
        <strong>Register here:</strong><br />

        <form id="user_form" method="post" action="/sketchawish/register/">
            {% csrf_token %}

            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <input type="submit" name="submit" value="Register" />
        </form>
    {% endif %}
</body>
</html>
