{% extends "saw/base.html" %}
{% block page_body %}
    <h1>Register</h1>
    {% if registered %}
        <strong>Thank You for registering!</strong>
        <a href="{% url 'sketchawish' %}">Return to the homepage</a>
    {% else %}
        <strong>Register here:</strong><br />

        <form id="user_form" method="post" action="{% url 'register' %}">
            {% csrf_token %}

            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <input type="submit" name="submit" value="Register" />
        </form>
    {% endif %}
{% endblock page_body %}
