<!DOCTYPE html>
<html>
<head>
    <title>Sketch A Wish</title>
</head>
<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <h1>Sketch A Wish</h1>
    <h3>Our Awesome Tagline</h3>
    {% if user.is_authenticated %}
        <h1>Hello {{ user.username }}!</h1>
        <a href="/sketchawish/logout/">Log Out</a>
    {% else %}
        <h1>Hello  <a href="/sketchawish/login/">Login</a></h1>
        <br />
        <a href="/sketchawish/register/">Or Register Here!</a>
    {% endif %}
    <br />
    <a href="/sketchawish/add_wish/">Make a wish</a>
    <br />
     <a href="/sketchawish/get_wish/">Get a wish to sketch</a>
     <br />
    <a href="/sketchawish/add_sketch/">Submit sketch</a>
</body>
</html>
