<!DOCTYPE html>
<html>
<head>
    <title>Sketch A Wish</title>
</head>
<body>
    <h1>Sketch A Wish</h1>
    <h3>Our Awesome Tagline</h3>
    {% if user.is_authenticated %}
        <h1>Hello {{ user.username }}!</h1>
        <a href="/sketchawish/logout/">Log Out</a>
    {% else %}
        <h1>Hello  <a href="/sketchawish/login/">Login</a></h1>
        <br />
        <a href="/sketchawish/register/">Or Register Here!</a>
    {% endif %}
    <br />
    <a href="/sketchawish/add_wish/">Make a wish</a>
</body>
</html>
